#mythicCollapse {
    cursor: pointer;
}

#mythicContainer {
    width: 1200px;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
    padding: 0 18px;
    font-family: fantasy;
    color:white;
    text-shadow: -2px 0 2px black, 0 2px 2px black, 2px 0 2px black, 0 -2px 2px black;
    font-size: 100%;

    display: flex;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#fateContainer {
    display: flex;
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    justify-content: center;

    background-image: linear-gradient(to right, darkred, red, darkorange, orange, yellow, lightgreen, green);

    border-top: darkslategrey solid 2px;
    border-bottom: darkslategrey solid 2px;
    border-radius:100px;

    width:100%;
}

.fate {
    width: 90px;
    margin: 0 5px;
    height: 100px;
    vertical-align: middle;
    text-align: center;
    font-size: 120%;

    cursor: pointer;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

#fiftyfifty {
    font-size: 180%;
}

#chaosContainer {
    display: flex;
    margin: 0 auto 20px auto;
    flex-wrap: wrap;
    justify-content: center;

    /*background-image: linear-gradient(to right, darkred, red, darkorange, orange, yellow, lightgreen, green);*/

    border-top: darkslategrey double 4px;
    border-bottom: darkslategrey double 4px;
    border-radius:40px;

    width:60%;
}

.chaos {
    width: 60px;
    margin: 0 5px;
    height: 60px;
    vertical-align: middle;
    text-align: center;

    cursor: pointer;

    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.focus {
    font-size:150%;
    border: red double 5px;
    border-radius:60px;
}

#mythicContainer span {
    text-transform: uppercase;
    color: white;
    font-size: 200%;
    width:100%;
    text-align: center;
    margin: 5px;

}

#result {
    height:40px;
    color: beige;
}

#eventButton {
    vertical-align: middle;
    text-align:center;
    line-height:40px;
    width: 200px;
    height: 40px;
    font-size: 150%;
    border-radius: 10px;
    border: darkslategrey solid 4px;
    cursor:pointer;
    background-color: rgba(50, 50, 150, 0.4);
}

#eventResult {
    display:flex;
    flex-wrap:wrap;
    vertical-align: middle;
    text-align:center;
    line-height:40px;
    width: 70%;
    height: 40px;
    font-size: 150%;
    border-radius: 10px;
    border: darkslategrey solid 4px;
    background-color: rgba(10, 50, 10, 0.4);
}

#eventResult div {
    cursor:pointer;
    width:31%;
    margin-left: 1%;
    margin-right:1%;
    font-size:80%;
}
